* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* Header Classes */

nav {
    position: sticky;
    top: 0;
    padding: 1.5rem 1rem;
    background-color: white;
    z-index: 5;
}

nav li {
    padding-right: 1rem;
    padding-left: 1rem;
}

.left-menu-container {
    padding-left: 2rem;
}

.right-menu-container {
    padding-right: 2rem;
}

.jumbo {
    background-color: #B4D0E7;
    margin-bottom: 100px;
}

.jumbo h1 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    padding-bottom: 2.5rem;
}

.jumbo-main-content {
    position: relative;
    top: 100px;
}

.jumbo .container.large-container {
    padding-top: 0;
}

.jumbo-main-content .col {
    flex-basis: 30%;
}

.jumbo-img {
    flex-basis: 70%;
    flex-grow: 5;
}

.jumbo-img img {
    width: 100%;
}

/* Containers */

.container {
    margin: auto;
    padding: 2rem 1rem;
    width: 100%;
}

.large-container {
    max-width: 1150px;
}

.normal-container {
    max-width: 960px;
}

/* Flex Classes */

.flex {
    display: flex;
}

.flex-normal-gap {
    gap: 1.5rem;
}

.flex-align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* Main Classes */

main .bill-section h2 {
    padding-bottom: 2rem;
    font-size: 2rem;
}

.bill-section form {
    margin-bottom: 2rem;
}

.card {
    min-height: 500px;
    background-color: aquamarine;
    width: calc(100% / 3);
    margin-bottom: 2rem;
}

.full-size {
    width: 100%;
}

.large-col {
    width: 65%;
}

.contact-partner .small-col {
    width: 35%;
    padding: 3rem 2rem;
}

.contact-partner img {
    width: 100%;
}

/*Footer Classes */

